/* NOTE: The blockquote.alt section applies to right-side pull-quotes only.  Right-side quotes will get the blockquote.pullquote declarations PLUS the .pqAlt declarations */

blockquote.pullquote { /* don't change this line! */
	width: 10em;
	margin: 0.25em 0.75em 0.25em 0;
	padding: 0.5em;
	border: 3px double #ccc;
	border-width: 3px 0;
	color: #333;
	background: transparent;
	font: italic 1.3em/1.3 Georgia;
}

blockquote.pqAlt { /* don't change this line! */
	margin: 0.25em 0 0.25em 0.75em;
}

blockquote.pullquote p {
	margin: 0;
	padding: 0;
	text-align: center;
}

blockquote.pullquote p:first-letter {
	text-transform: uppercase; /* Makes the first letter of the quote a capital letter */
}
